body {
    padding: 0;
    margin: 0;
}

.main {
    background-color: #fff ;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    transition: all 0.25s ease-out;
}

#photos {
    width: 100%;
    z-index: 2;
    transform: translateY(100vh);
}
.photo {
    width: 100%;
    margin: 15px auto;
    transition: all 0.4s ease-in-out;
}
.photo:hover {
    transform: scale(1.05);
    opacity: .75;
}

.logo{
    width: 50vw;
    margin: auto;
    z-index: 0;
    overflow: hidden;
}


@media only screen and (max-width: 1280px){
    .contact {
        width: 100%;
        height: 100vh;
        transform: translateY(100vh);
    }
    .contact .contact-boxes{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    
}

@media only screen and (max-width: 992px){
    .contact {
        width: 100%;
        height: 650px;
        transform: translateY(100%);
    }
}

@media only screen and (max-width: 768px){
    .contact {
        width: 100%;
        height: 650px;
        transform: translateY(100%);
    }
}

.contact a {
    text-decoration: none;
    outline: none;
    border: none;
    color: #212529;
}

.box, .box-touch{
    position:relative;
    height: 150px;
    width: 100%;
    margin: 15px auto;
    background-color: rgb(7, 31, 83);
    text-align: center;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0 0 0 px rgba(15, 45, 105, 1);
    overflow: hidden;
    outline: none !important;
    /* //border: none !important; */
}

.box-touch .icon {
    width: 100%;
    height: 50%;
}

.box-touch .icon .fa{
    font-size: 3em;
    line-height: 75px;
    color: rgb(44, 103, 230);
}

.box-touch .content {
    width: 100%;
    height: 50%;
}
.box-touch .content h3 {
    margin: 0;
    padding: 0;
    color: rgb(44, 103, 230);
    line-height: 50px;
    font-size: 27px;
}

.box .icon {
    width: 100%;
    height: 100%;
    background: rgb(7, 31, 83);
    transition: 0.5s;
}

.box .icon .fa {
    font-size: 4em;
    line-height: 150px;
    color: rgb(44, 103, 230)
}

.box:hover .icon {
    transform: scale(0);
}

.box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  rgb(44, 103, 230);
    transition: 0.5s;
    transform: scale(2);
    opacity: 0;
}

.box .content h3 {
    margin: 0;
    padding: 0;
    color: rgb(7, 31, 83);
    line-height: 150px;
    font-size: 24px;
}

.box:hover .content {
    transform: scale(1);
    opacity: 1;
}

